ion-content.background{
    --background: url(../../assets/img/fundo.jpg) 0 0/100% 100% no-repeat;
}
ion-button{
    --background:#252933;
    --color: #fefefe; 
} 
ion-button.cadastro{
    --background: none;
    margin-top: 200px; 
}
.app{
    text-align: center;

}